<header>
  <h1>ABOUT</h1>
  <p>Building your STEEM project just got a whole lot easier.</p>
</header>

<div class="about-1">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>STEEM</h1>

        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.           
          <br/><br/>
          Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?           
        </p>
      </div>
      <div class="col d-flex justify-content-center">
        <img src="../images/img_steem-logo.svg">
      </div>
    </div>      
  </div>  
</div>

<div class="about-2">
  <div class="container">
    <div class="row">
      <div class="col d-flex justify-content-center">
        <img src="../images/img_missing-token.svg">
      </div>
      <div class="col">
        <h1>THE PROBLEM</h1>

        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.           
          <br/><br/>
          Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?           
        </p>
      </div>
    </div>      
  </div>      
</div>

<div class="about-3">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>THE SOLUTION</h1>

        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.           
          <br/><br/>
          Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?           
        </p>
      </div>
      <div class="col d-flex justify-content-center">
        <img src="../images/img_steem-engine-icon_brass.svg">
      </div>
    </div>      
  </div>      
</div>

<div class="about-4">
  <div class="container">
    <h1>WHO</h1>

    <p>
      The concept and development for the smart contract platform that became Steem Engine was the brainchild of @harpagon. He single-handedly blah blah blah blah blah. He coded blah blah blah blah and structured the blah blah that would blah blah blah. He is a great blah blah blah. 
      <br/><br/>
      Fellow developer and witness @yabapmatt is assisting with integration and back-end blah blah blah in hopes to blah blah blah and a merry Christmas to all. 
      <br/><br/>
      UX/UI by @nateaguila.
    </p>
  </div>
</div>