<header>
  <h1>HUB</h1>
  <p>This process will create a new Token on the Steem blockchain.</p>
</header>

<div class="register container text-left">
  Are you ready to make history? Let’s make a new Steem token!
  <br/><br/>
  <p class="font-weight-bold">
		Token Creation Cost: <%= addCommas(SE.Params.tokenCreationFee) %> SSC<br/>
		Your SSC Balance: <%= addCommas(SE.GetBalance('SSC')) %> SSC
  </p>  
</div>


<div class="register container">
  <div class="row">
    <div class="col">
      
      <div class="group">
        <label>Token Name</label>
        <input type="text" id="txtTokenName" maxlength="100">        
        <div class="invalid-feedback">
          Required
        </div>
      </div>

      <div class="group">
        <label>URL</label>
        <input type="text" id="txtURL" maxlength="100">
      </div>

      <div class="group">
        <label>Decimal Precision</label>
        <input type="number" id="txtDecimalPrecision" placeholder="0-8" min="0" max="8" step="1" maxlength="1"> 
        <div class="invalid-feedback">
          Please enter a number from 0 to 8
        </div>
      </div>
    </div>

    <div class="col d-flex flex-column justify-content-top align-items-left">
      <div class="group">
        <label>Symbol (3-5 characters)</label>
        <input type="text" id="txtSymbol" style="text-transform: uppercase;" maxlength="5">        
        <div class="invalid-feedback">
          Required
        </div>
      </div>

      <div class="group">
        <label>Max Supply</label>
        <input type="number" id="txtMaxSupply" maxlength="30">
        <div class="invalid-feedback">
          Please enter a number greater than 0
        </div>
      </div>
    </div>
  </div>      
</div>  

<div class="register container text-right" style="padding-right: 60px;">
  <button class="btn btn-primary btn-lg" onclick="btnSubmitClick();">SUBMIT</button>
</div>

<script>
  function btnSubmitClick() {
    var tokenName = $("#txtTokenName").val();
    var symbol = $("#txtSymbol").val();
    var precision = parseInt($("#txtDecimalPrecision").val());    
    var maxSupply = parseInt($("#txtMaxSupply").val());
    var url = $("#txtURL").val();
    var isValid = true;


    if(tokenName.trim() == '') {
      $('#txtTokenName').addClass("is-invalid");
      isValid = false;
    }

    if(symbol.trim() == '') {
      $('#txtSymbol').addClass("is-invalid");
      isValid = false;
    }

    if(isNaN(precision) || precision < 0 || precision > 8) {
      $('#txtDecimalPrecision').addClass("is-invalid");
      isValid = false;
    }

    if(isNaN(maxSupply) || maxSupply < 0) {
      $('#txtMaxSupply').addClass("is-invalid");
      isValid = false;
    }

    if(isValid) {
      $('.register input').removeClass("is-invalid");
      SE.ShowConfirmAddToken(tokenName, symbol, precision, maxSupply, url);    
    }
      
  }
</script>