<header>
  <h1>HUB</h1>
  <p>This process will create a new Token on the Steem blockchain.</p>
</header>

<div class="register container text-left">
  Are you ready to make history? Let’s make a new Steem token!
  <br/><br/>
  <p class="font-weight-bold">
		Token Creation Cost: <%= addCommas(SE.Params.tokenCreationFee) %> SSC<br/>
		Your SSC Balance: <%= addCommas(SE.GetBalance('SSC')) %> SSC
  </p>  
</div>


<div class="register container">
  <div class="row">
    <div class="col d-flex flex-column justify-content-center align-items-left">                        
      <label>Token Name</label>
      <input type="text" id="txtTokenName" maxlength="100">        

      <label>URL</label>
      <input type="text" id="txtURL" maxlength="100">              

      <label>Decimal Precision</label>
      <input type="text" id="txtDecimalPrecision" maxlength="100">              
    </div>

    <div class="col d-flex flex-column justify-content-top align-items-left">
      <label>Symbol (3-5 characters)</label>
      <input type="text" id="txtSymbol" style="text-transform: uppercase;" maxlength="5">        

      <label>Max Supply</label>
      <input type="text" id="txtMaxSupply" maxlength="100">
    </div>
  </div>      
</div>  

<div class="register container text-right" style="padding-right: 60px;">
  <button class="btn btn-primary btn-lg" onclick="btnSubmitClick();">SUBMIT</button>
</div>

<script>
  function btnSubmitClick() {
    var tokenName = $("#txtTokenName").val();
    var symbol = $("#txtSymbol").val();
    var precision = $("#txtDecimalPrecision").val();    
    var maxSupply = $("#txtMaxSupply").val();
    var url = $("#txtURL").val();
    SE.ShowConfirmAddToken(tokenName, symbol, precision, maxSupply, url);    
  }
</script>