<header>
  <div class="group">
    <div>
      <button class="btn btn-back" onclick="SE.ShowBalances();">
        <i class="material-icons">chevron_left</i>
      </button>
    </div>

    <h2 class="m-0">
			<%= data.name + ' (' + data.symbol + ')' %>
			<div class="subtitle">Supply (total/max): <%= addCommas(SE.GetToken(data.symbol).supply) + ' / ' + addCommas(SE.GetToken(data.symbol).maxSupply) %></div>
		</h2>    
    
    <div class="buttons">
			<button class="btn btn-primary" onclick="sendTokens()">SEND</button>

			<% if(SE.GetToken(data.symbol).issuer == SE.User.name) { %>
				<button class="btn btn-primary" onclick="issueTokens()">ISSUE</button>
			<% } %>
    </div>
  </div>
</header>

<div class="container">
  <table class="tokensTable" data-sorting="true"></table>
</div>

<script>
  var data = <%= JSON.stringify(data) %>;
  var symbol = data.symbol;
  var balance = SE.GetBalance(symbol);

	function DateColumn(value, options, rowdata) { return new Date(value).toLocaleString(); }
	function SteemAccountColumn(value, options, rowdata) { return '@' + value; }
	function BalanceColumn(value, options, rowdata) { return '<div class="balance-cell">' + addCommas(value) + ' ' + symbol + '</div>'; }
	function AmountColumn(value, options, rowdata) { 
		var operator = (rowdata.type == 'Received') ? '+' : '-';
		return '<div class="balance-cell ' + ((rowdata.type == 'Received') ? 'received' : 'sent') + '">' + operator + ' ' + addCommas(value) + ' ' + symbol + '</div>'; 
	}

	var running_balance = balance;
	data.rows.forEach(r => {
		r.type = (r.to == SE.User.name) ? 'Received' : 'Sent';
		r.to_from = (r.to == SE.User.name) ? r.from : r.to;
		r.balance = running_balance;
		running_balance = (r.to == SE.User.name) ? running_balance - parseFloat(r.quantity) : running_balance + parseFloat(r.quantity);
	});

	$('.tokensTable').footable({
		"columns": [
			{ "name": "timestamp", "title": "Date", "formatter": DateColumn },
      { "name": "to_from", "title": "To/From", "formatter": SteemAccountColumn },
      { "name": "type", "title": "Type" },			
			{ "name": "quantity", "title": "Amount", "formatter": AmountColumn },
			{ "name": "balance", "title": "Balance", "formatter": BalanceColumn }
		],
		"rows": data.rows
  });
  
  function sendTokens() {    
    SE.ShowSendTokenDialog(symbol, balance);
  }

  function issueTokens() {    
    SE.ShowIssueTokenDialog(symbol, balance);
  }


</script>