<header>
  <div class="row header-row">
    <div class="col-md-1">
      <button class="btn btn-back" onclick="SE.ShowBalances();">
        <i class="material-icons">chevron_left</i>
      </button>
    </div>

		<div class="col-md-6">
			<h2 class="m-0" style="padding-left: 0;">
				<% if(data.metadata && data.metadata.icon) { %>
					<img class="icon" src="<%= data.metadata.icon %>" style="height: 64px; width: 64px; float: left; margin-right: 20px;"/>
				<% } %>
				<%= data.name + ' (' + data.symbol + ')' %>
				<div class="subtitle">Current Supply: <%= addCommas(SE.GetToken(data.symbol).circulatingSupply) %></div>
			</h2>    
		</div>
		
		<div class="col-md-5">
			<div class="buttons">
				<span class="balance" style="font-size: 25px; margin-right: 30px;"><%= addCommas(SE.GetBalance(data.symbol)) + ' ' + data.symbol %></span>
				<button class="btn btn-primary" onclick="sendTokens()">SEND</button>

				<% if(SE.GetToken(data.symbol).issuer == SE.User.name) { %>
					<button class="btn btn-primary" onclick="issueTokens()">ISSUE</button>
				<% } %>
			</div>
		</div>
  </div>
</header>

<div class="container">
  <table id="history_table" class="tokensTable interactiveTable" data-sorting="true"></table>
</div>

<script>
  var data = <%= JSON.stringify(data) %>;
  var symbol = data.symbol;
	var balance = SE.GetBalance(symbol);
	var token = SE.GetToken(symbol);

	function DateColumn(value, options, rowdata) { return new Date(value).toLocaleString(); }
	function SteemAccountColumn(value, options, rowdata) { return '@' + value; }
	function BalanceColumn(value, options, rowdata) { return addCommas(value) + ' ' + symbol; }
	function AmountColumn(value, options, rowdata) { 
		var operator = (rowdata.type == 'Received') ? '+' : '-';
		return '<div class="' + ((rowdata.type == 'Received') ? 'received' : 'sent') + '">' + operator + ' ' + addCommas(parseFloat(value).toFixed(token.precision)) + ' ' + symbol + '</div>'; 
	}

	var running_balance = typeof balance === 'number' ? balance : parseFloat(balance);
	data.rows.forEach(r => {
		r.type = (r.to == SE.User.name) ? 'Received' : 'Sent';
		r.to_from = (r.to == SE.User.name) ? r.from : r.to;
		r.balance = running_balance.toFixed(token.precision);
		running_balance = (r.to == SE.User.name) ? running_balance - parseFloat(r.quantity) : running_balance + parseFloat(r.quantity);
	});

	$('#history_table').footable({
    "on": {
			"ready.ft.table": function(e, ft){        
        $("#history_table tbody tr:not(.footable-empty)").bind('click', function() {          
          var index = $(this).index();        
          console.log(data.rows[index]);
          SE.ShowTransactionDialog(data.rows[index])
        });
			}
		},
		"columns": [
			{ "name": "timestamp", "title": "Date", "formatter": DateColumn },
      { "name": "to_from", "title": "To/From", "formatter": SteemAccountColumn },
      { "name": "type", "title": "Type" },			
			{ "name": "quantity", "title": "Amount", "type": "number", "classes": "text-right", "formatter": AmountColumn },
			{ "name": "balance", "title": "Balance", "type": "number", "classes": "text-right", "formatter": BalanceColumn }
		],
		"rows": data.rows
  });
  
  function sendTokens() {    
    SE.ShowSendTokenDialog(symbol, balance);
  }

  function issueTokens() {    
    SE.ShowIssueTokenDialog(symbol, balance);
  }


</script>