<div class="home-1">
  <div>
      <img src="https://s3.amazonaws.com/steem-engine/images/steem-engine_logo.svg" style="width: 300px;" />
  </div>
  <p>
    Create Tokens + Smart Contracts on the STEEM blockchain.
  </p>
  <div>
    <button class="btn btn-primary btn-lg" onclick="SE.User ? SE.ShowTokens() : SE.ShowSignIn();">GET STARTED</button>
  </div>
</div>

<div class="container home-2">
  STEEM ENGINE is a platform that empowers communities, project owners, fundraisers, developers, and businesses to quickly and easily build on the Steem blockchain like never before.
</div>

<div class="home-3">
  <div class="container">
    <div class="home-3-square">
      <h1>
        FULL STEAM
      </h1>

      <p>
          Up until now, you’ve only been tapping into a very small fraction of Steem’s true potential. It’s like you’ve been using the Death Star to charge your phone. 
          <br/><br/>
          STEEM ENGINE unlocks unlimited possibilities by adding a layer of functionality that seamlessly integrates with the blockchain. 
          <br/><br/>
          Are you ready to rock ’n’ roll?
      </p>
    </div>  
  </div>
</div>

<div class="home-4">
  <div class="container">
    <h1>
        HOLY SMART CONTRACT, BATMAN!
    </h1>
    <p>
      The Steem Engine platform makes smart contracts on the Steem blockchain a reality. The first smart contract being introduced is the ability to quickly and easily create custom tokens. 
      <br/><br/>
      Do you know the best part?
    </p>
    <p style="color: #FDCC49">
      No coding required.
    </p>
    
  </div>
  <img src="https://s3.amazonaws.com/steem-engine/images/img_steem-engine_overview.png" class="w-100" style="max-width: 942px" /> 
</div>

<div class="home-5">
  <div class="container">
    <h1>
      THE TRAIN IS LEAVING THE STATION
    </h1>
    <p class="text-left">
      All aboard the Steem Express! 
      <br/><br/>
      Today is Token Creation. Tomorrow the world! 
      <br/><br/>
      We wanted to get Tokens out to you guys ASAP, but don’t worry. There’s lots more to come. This includes more robust token management and an internal market to trade tokens against STEEM, just like the existing STEEM/SBD market.
      <br/><br/>
      But wait. There’s more! 
      <br/><br/>
      Smart contracts are capable of doing so much more. As we add more smart contracts to the platform, so will the service offerings on this site. All easy to use and deploy for non-developers.       
      If you ARE a developer, you’ll have lots of toys to play with as well.
    </p>
    
  </div>  
</div>

<div class="home-6">
  <div class="container">
    <h1 style="color: #FFF;">
        THINGS ARE ABOUT TO GET CRAZY.
    </h1>            
  </div>  
</div>  
