<header>
	<div class="row header-row">
		<div class="col-md-6">
			<h1>MARKET</h1>
		</div>
		<div class="col-md-6">
			<div class="buttons">
				<% if(SE.User) { %>
					<button class="btn btn-primary" onclick="SE.ShowDialog('deposit_tokens');">DEPOSIT</button>
					<button class="btn btn-secondary" onclick="SE.ShowDialog('withdraw_tokens');">WITHDRAW</button>
					<div class="note">NOTE: There is a 1% fee on all deposits and withdrawals.</div>
				<% } %>
			</div>
		</div>
	</div>

	<p>Trade any Steem Engine token against STEEM on the internal DEX!</p>	
</header>

<div class="market container">
	<div class="row">
		<!-- token selection table -->
		<div class="col-md-2">
			<table id="market_tokens_table" class="tokensTable interactiveTable text-center mt-3" data-sorting="true"></table>
		</div>
		<!-- main page -->
		<div class="col-md-10">
			<div id="market_view"></div>
		</div>
	</div>
</div>

<script>
	var token_data = SE.Tokens.filter(t => t.symbol != 'STEEMP');
	token_data = token_data.filter(t => t.metadata && !t.metadata.hide_in_market);

	var tData = '<%= data.selected %>';
	
	if (!Config.MARKET_HIDE_TOKENS.includes(tData)) {
		SE.ShowMarketView(tData);
	}

	function PriceColumn(value, options, rowdata) { 
		var token = SE.GetToken(rowdata.symbol);
		return '<span class="' + (token.priceChangePercent > 0 ? 'green' : (token.priceChangePercent < 0 ? 'red' : '')) + '">' + usdFormat(value) + '</span>'; 
	}

	$('#market_tokens_table').footable({
		"on": {
			"ready.ft.table": function(e, ft) {
				$('#market_tokens_table tbody tr').bind('click', function() {
					var index = $(this).index();
					SE.ShowMarketView(token_data[index].symbol);

					var url = '?p=' + SE.CurrentView.view + '&' + $.param({ t: token_data[index].symbol });
					window.history.pushState({ data: SE.CurrentView.data, view: SE.CurrentView.view, params: { t: token_data[index].symbol } }, 'Steem Engine - Smart Contracts on the STEEM blockchain', url);
				});
			}
		},
		"columns": [
			{ "name": "symbol", "title": "Token" },
			{ "name": "lastPrice", "title": "Last", "type": "number", "classes": "market-token-list-cell bold", "formatter": PriceColumn }
		],
		"rows": token_data.slice(0, 30)
	});
</script>