<header>
	<h1>MARKET</h1>
	<p>Trade any Steem Engine token against STEEM on the internal DEX!</p>
</header>

<div class="market container">
	<div class="row">
		<!-- token selection table -->
		<div class="col-md-2">
			<table id="tokens_table" class="tokensTable interactiveTable text-center mt-3" data-sorting="true"></table>
		</div>
		<!-- main page -->
		<div class="col-md-10">
			<div id="market_view"></div>
		</div>
	</div>
</div>

<script>
	var token_data = <%= JSON.stringify(data) %>;

	SE.ShowMarketView(Config.NATIVE_TOKEN);

	$('#tokens_table').footable({
		"on": {
			"ready.ft.table": function(e, ft) {
				if(SE.User) {
					$('#tokens_table tbody tr').bind('click', function() {
						var index = $(this).index();
						SE.ShowMarketView(token_data[index].symbol, token_data[index].precision);
					});
				}
			}
		},
		"columns": [
			{ "name": "symbol", "title": "Symbol" }
		],
		"rows": token_data
	});
</script>