<header>
  <h1>REGISTER</h1>
  <p>You are THIS close to unlocking the power of STEEM ENGINE. Can you feel it?</p>
</header>

<div class="register container text-left">
  You are about to register your Steem account, @<%= data %>, as an authorized user of the STEEM ENGINE platform. 
  This will provide you with tools and resources for building projects, applications, and communities on the Steem blockchain.
</div>


<div class="register container">
  <div class="row">
    <div class="col d-flex flex-column justify-content-center align-items-left">                        
      <label>First Name</label>
      <input type="text" id="txtFirstName">        

      <label>Last Name</label>
      <input type="text" id="txtLastName">              
    </div>

    <div class="col d-flex flex-column justify-content-center align-items-left">
      <label>Email</label>
      <input type="text" id="txtEmail">        

      <label>Phone</label>
      <input type="text" id="txtPhone">
    </div>
  </div>      
</div>  

<div class="register container text-right" style="padding-right: 60px;">
  <button class="btn btn-primary btn-lg" onclick="SE.RegisterAccount()">SUBMIT</button>
</div>

<script>

</script>