<header>
  <h1>REGISTER</h1>
  <p>You are THIS close to unlocking the power of STEEM ENGINE. Can you feel it?</p>
</header>

<div class="register container text-left">
	In order to use the Steem Engine sidechain you must first register your Steem account by publishing a transaction to the 
	Steem blockchain to verify you are the owner of the account. You only have to register each account once and then a whole 
	new world will be at your fingertips!

	<div class="register container text-center" style="padding-right: 60px;">
		<button class="btn btn-primary btn-lg" onclick="SE.RegisterAccount()">REGISTER NOW</button>
	</div>
</div>

<script>

</script>