<header>
  <h1>SIGN IN</h1>
  <p>Welcome back. Let’s make stuff happen.</p>
</header>

<div class="sign_in">
  <div class="container">
    <div class="row">
      <div class="col d-flex flex-column justify-content-center align-items-center divider">
        
        <img class="keychain-logo" src="../images/img_keychain-logo.svg">

        <p class="keychain_desc">
          KEYCHAIN is the easiest and safest way to access your Steem credentials. Find it on the <a href="https://chrome.google.com/webstore/detail/steem-keychain/lkcjlnjfpbikmcmbachjpdbijejflpcm?hl=en" target="_blank">Chrome Web Store</a>.
        </p>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text at">@</span>
          </div>
          <input type="text" id="txtUsernameKeyChain" placeholder="Steem Username">
          <div class="input-group-append">            
              <img src="../images/icon_sign-in.svg" onclick="KeychainSignIn();" class="cursor: pointer;" />            
          </div>
        </div>
        
      </div>

      <div class="col d-flex flex-column justify-content-center align-items-center">
        <img class="steemconnect-logo" src="../images/img_steemconnect-logo.png">

        <button class="btn btn-steemconnect">AUTHORIZE</button>
      </div>
    </div>      
  </div>  
</div>

<div class="sign_in-2 container">
  Don’t have a STEEM account? Let’s fix that. Go <a href="#">HERE</a> to get a free account.
</div>

<script>

function KeychainSignIn() {
  username = $("#txtUsernameKeyChain").val();
  localStorage.setItem('username', username);

  console.log(localStorage.getItem('username'));

  SE.LogIn();
}



</script>