<header>
  <div class="group">
    <h1 class="m-0 p-0">TOKENS</h1>    
    <div class="buttons">
			<% if(SE.User) { %>
				<button class="btn btn-primary" onclick="SE.ShowBuySSC();">BUY <%= SE.NATIVE_TOKEN %></button>
				<button class="btn btn-secondary" onclick="SE.ShowAddToken();">CREATE</button>
			<% } %>
    </div>
  </div>  
</header>

<div class="container">
  <table id="tokens_table" class="tokensTable interactiveTable" data-sorting="true"></table>
</div>

<script>
	var token_data = <%= JSON.stringify(data) %>;
	function SteemAccountColumn(value, options, rowdata) { return '@' + value; }
	function SupplyColumn(value, options, rowdata) { return '<div class="balance-cell">' + addCommas(value) + '</div>'; }
	function URLFormatter(value, options, rowdata)
	{
		if(value != null)
			return '<a href="' + value + '" target="_blank" >' + value + '</a>';
		else
			return '';
	}


	$('#tokens_table').footable({
		"on": {
			"ready.ft.table": function(e, ft) {
				if(SE.User) {
					$('#tokens_table tbody tr').bind('click', function() {          
						var index = $(this).index();        
						SE.ShowHistory(token_data[index].symbol, token_data[index].name);
					});
				}
			}
		},
		"columns": [
			{ "name": "symbol", "title": "Symbol" },
			{ "name": "name", "title": "Token Name" },
			{ "name": "supply", "title": "Supply (Circulating)", "formatter": SupplyColumn },    
			{ "name": "issuer", "title": "Issuer", "formatter": SteemAccountColumn },
			{ "name": "url", "title": "URL", "formatter": URLFormatter }
		],
		"rows": token_data
	});
</script>