
<div class="modal-dialog modal-dialog-centered modal-lg">
  <div class="modal-content blue">
    <div class="modal-header">
      <h1 class="modal-title">BUY SSC</h1>    
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">X</span>
      </button>  
    </div>

    <div class="modal-body">
      <label class="mb-0">Current STEEM Balance</label>
      <p class="mb-4">
        <%= addCommas(SE.User.account.balance) %>
			</p>
			
			<label class="mb-0">Current SSC Balance</label>
      <p class="mb-4">
        <%= addCommas(SE.GetBalance('SSC')) %> SSC
      </p>
      
      <label>PURCHASE AMOUNT</label>
      <div class="input-group justify-content-center align-items-center">
        <input type="text" placeholder="0.00000000" id="ssc_amount">
        <div class="input-group-append">          
          SSC
        </div>
			</div>
			<div class="ssc-cost">1 SSC = <%= SE.Params.priceSteem %> STEEM</div>
      
    </div>
    
    <div class="modal-footer">
      <button id="btnBuy" type="button" class="btn btn-primary btn-lg w-100" onclick="onBuyClick()">BUY SSC</button>
    </div>
  </div>
</div>

<script>
function onBuyClick() {  
  SE.BuySSC(parseFloat($('#ssc_amount').val()) * <%= SE.Params.priceSteem %>);
}

</script>

