
<div class="modal-dialog modal-dialog-centered modal-lg confirm_add_token_dialog" style="max-width: 800px;">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title">CANCEL SELECTED ORDERS</h1>
            <p>
                Please review your order before proceeding.
            </p>
        </div>

        <div class="modal-body" style="padding: 10px 0;">
            <% if (data.orders.length > 0) { %>
            <div class="d-flex">
                <div>Token - Type - OrderId:</div>
            </div>
            <% for (var i = 0; i < data.orders.length; i++) { %>
            <div class="d-flex">
                <div><%= data.orders[i].symbol %> - <%= data.orders[i].txType.toUpperCase() %> - <%= data.orders[i].txId %> </div>
            </div>
            <% } %>
            <p class="mt-5">
                Proceed?
            </p>
            <% } %>
        </div>

        <div class="modal-footer" style="border: 0; justify-content: space-evenly; margin-top: 20px;">
            <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">CANCEL</button>
            <button id="btnAdd" type="button" class="btn btn-primary btn-lg" onclick="onConfirmClick()">CONFIRM</button>
        </div>
    </div>
</div>

<script>
    function onConfirmClick() {
        let orders = [];
        var txId = '';
        var txType = '';
        var symbol = '';
        var origin = '<%= data.origin %>';

        '<% for (var i = 0; i < data.orders.length; i++) { %>';
        txId = '<%= data.orders[i].txId %>';
        txType = '<%= data.orders[i].txType %>';
        symbol = '<%= data.orders[i].symbol %>';

        orders.push({ txId: txId, txType: txType, symbol: symbol });
        '<% } %>';

        SE.SendCancelMarketOrderSelected(orders, origin);
    }

</script>

