
<div class="modal-dialog modal-dialog-centered modal-lg">
	<div class="modal-content blue">
		<div class="modal-header" style="padding: 40px 40px 10px 60px;">
			<h1 class="modal-title" style="font-size: 38px;">
				DEPOSIT <%= data.symbol %>
				<div class="note">There is a 1% fee on deposits and withdrawals.</div>
			</h1>
			
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">X</span>
			</button>  
		</div>

		<div class="modal-body">	
            <div class="note" style="text-align: left; margin-bottom: 20px;">
                <% if (data.symbol == 'WEKU') { %>
                Please send any amount of <%= data.symbol %> <strong>from Bitshares</strong> to the <strong>steem-engine address on Bitshares</strong> and you will receive an equal amount of <%= data.pegged_token_symbol %> in the @<%= SE.User.name %> <strong>account on Steem</strong> (it will show in your steem-engine wallet) once the transaction has received the required number of confirmations on the <strong>Bitshares</strong> chain.
                <% } else { %>
                Please send any amount of <%= data.symbol %> to the following address and you will receive an equal amount of <%= data.pegged_token_symbol %> in the @<%= SE.User.name %> account once the transaction has received the required number of confirmations on the external chain.
                <% } %>
            </div>		

			<% if (data.address) { %>
			<label>DEPOSIT ADDRESS</label>
			<div class="deposit-address">
				<%= data.address %>
			</div>
			<% } else { %>
            <div class="note" style="text-align: left; margin-bottom: 20px;">
                <% if (data.symbol == 'WEKU') { %>
                Please ensure that you transfer to the following account and use the following memo. Refunds will not be given, so double check the details before transferring.  Failure to use this form may result in you losing tokens which are non-refundable.<br /><br />
                Please note there is a scam account on the <%= data.symbol %> platform called steem-engine. We don't own it. If you transfer tokens to <strong>steem-engine on <%= data.symbol %></strong> as opposed to <strong>steem-engine on Bitshares</strong> then your tokens will be lost and effectively stolen by a scammer. We encourage you to use this deposit form to ensure your tokens are transferred correctly.
                <% } else { %>
                Please ensure that you transfer to the following account and use the following memo. Refunds will not be given, so double check the details before transferring.
                <% } %>
            </div>
				
				<label>ACCOUNT</label>
				<div class="deposit-address"><%= data.account %></div>
				<br>
				<label>MEMO</label>
				<div class="deposit-address"><%= data.memo %></div>
			<% } %>				
		</div>
		
		<div class="modal-footer" style="padding-bottom: 0;">
			<button id="btnBuy" type="button" class="btn btn-primary btn-lg w-100" data-dismiss="modal" aria-label="Close">CLOSE</button>
		</div>

		<div class="privex">
			<a href="https://pay.privex.io/order/?r=steem-engine" target="_blank">
				<img src="https://www.privex.io/static/assets/svg/privex_ctc_api_light.svg" />
			</a>
		</div>
	</div>
</div>

<script>
</script>
	
	