
<div class="modal-dialog modal-dialog-centered modal-lg">
	<div class="modal-content blue">
		<div class="modal-header" style="padding: 40px 40px 10px 60px;">
			<h1 class="modal-title" style="font-size: 38px;">
				DEPOSIT TOKENS
				<div class="note">There is a 1% fee on deposits and withdrawals.</div>
			</h1>
			
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">X</span>
			</button>  
		</div>

		<div class="modal-body">	
			<div class="note" style="text-align: left; margin-bottom: 20px;">
				Choose which token you would like to deposit below. For more information about depositing or withdrawing external tokens to Steem Engine please <a href="/?p=faq" target="_blank">see the FAQ</a>.
			</div>		

			<label>DEPOSIT TOKEN</label>
			<div class="input-group">
				<select id="deposit_token">
					<% Config.PEGGED_TOKENS.forEach(token => { %>
						<option value="<%= token.symbol %>"><%= token.name %> (<%= token.symbol %>)</option>
					<% }); %>
				</select>
			</div>		
			<div id="deposit_warning" class="alert alert-warning" style="display: none; margin-top: 10px;"></div>
		</div>
		
		<div class="modal-footer" style="padding-bottom: 0;">
			<button id="btnBuy" type="button" class="btn btn-primary btn-lg w-100" onclick="getDepositInfoClick()">GET DEPOSIT INFO</button>
		</div>

		<div class="privex">
			<a href="https://pay.privex.io/order/?r=steem-engine" target="_blank">
				<img src="https://www.privex.io/static/assets/svg/privex_ctc_api_light.svg" />
			</a>
		</div>
	</div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#deposit_token").on("change", function () {
            var tokenSymbol = $('#deposit_token').val();

            var disabledToken = Config.DISABLED_DEPOSITS.find(x => x.symbol == tokenSymbol);
            if (disabledToken) {
                $("#btnBuy").hide();
                $("#deposit_warning").text(disabledToken.reason);
                $("#deposit_warning").show();
            } else {
                $("#deposit_warning").hide();
                $("#btnBuy").show();
            }
        })
	});

	function getDepositInfoClick() {  
		if($('#deposit_token').val() == 'STEEM') {
			SE.ShowDialog('deposit_steem');
			return;
		}

		SE.ShowLoading();

		SE.GetDepositAddress($('#deposit_token').val(), result => {
			SE.HideLoading();

			if (result && result.address) {
				SE.ShowDialog('deposit_info', result);
				return;
			}

			if (result && result.memo) {
				SE.ShowDialog('deposit_info', result);
				return;
			}
		});
	}

	if('<%= data && data.symbol ? data.symbol : "" %>' != '')
		$('#deposit_token').val('<%= data && data.symbol ? data.symbol : "" %>');
</script>

