
<div class="edit-dialog modal-dialog modal-dialog-centered modal-lg">
	<div class="modal-content blue" style="min-height: 600px;">
		<div class="modal-header">
			<h1 class="modal-title">EDIT TOKEN</h1>    
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">X</span>
			</button>  
		</div>

		<div class="modal-body">
			<button type="button" class="btn btn-secondary btn-sm w-100" id="tokenPrecisionToggle" 
				data-precision="Change token precision"
				data-metadata="Change token metadata" style="margin-bottom: 15px;">Change token precision</button>

			<div id="metadataWrapper" style="display: block;">
				<label class="mb-0">Token Name</label>
				<p class="mb-4" style="font-size: 20px;">
					<%= filterXSS(data.name) %> (<%= data.symbol %>)
				</p>
	
				<label class="mb-0">Website URL</label>
				<p class="mb-4">
					<input id="token_website_url" type="text" value="<%= data.metadata.url %>"/>
				</p>
	
				<label class="mb-0">Icon Image URL</label>
				<p class="mb-4">
					<input id="token_icon_url" type="text" value="<%= data.metadata.icon %>"/>
				</p>
	
				<label class="mb-0">Description</label>
				<p class="mb-0">
					<textarea id="token_desc"><%= data.metadata.desc %></textarea>
				</p>
			</div>
			<div id="precisionWrapper" style="display: none;">
				<label class="mb-0">Precision</label>
				<div class="input-group mb-4">
					<input id="token_precision" type="text" data-old-precision="<%= data.precision %>" value="<%= data.precision %>"/>
					<div class="invalid-tooltip">
						You can only increase decimal precision. The new value must be higher.
					</div>    
				</div>
			</div>
		</div>

		<div class="modal-footer">
			<button id="btnSend" type="button" class="btn btn-primary btn-lg w-100" onclick="handleUpdateClick();">UPDATE</button>
		</div>
	</div>
</div>

<script>
	let $tokenPrecisionToggle = $('#tokenPrecisionToggle');
	let $metadataWrapper = $('#metadataWrapper');
	let $precisionWrapper = $('#precisionWrapper');

	$tokenPrecisionToggle.click(() => {
		if ($metadataWrapper.is(':visible')) {
			$metadataWrapper.hide();
			$precisionWrapper.show();
			$tokenPrecisionToggle.text($tokenPrecisionToggle.data('metadata'));
		} else {
			$metadataWrapper.show();
			$precisionWrapper.hide();
			$tokenPrecisionToggle.text($tokenPrecisionToggle.data('precision'));
		}
	});

	function handleUpdateClick() {
		if ($metadataWrapper.is(':visible')) {
			updateTokenData();
		} else {
			updateTokenPrecision();
		}
	}

	function updateTokenData() {
		var metadata = <%= JSON.stringify(data.metadata) %>;

		metadata.url = $('#token_website_url').val();
		metadata.icon = $('#token_icon_url').val();
		metadata.desc = $('#token_desc').val();

		SE.UpdateTokenMetadata('<%= data.symbol %>', metadata);
	}

	function updateTokenPrecision() {
		let $tokenPrecision = $('#token_precision');
		let oldPrecision = parseInt($tokenPrecision.data('old-precision'));
		let precision = parseInt($tokenPrecision.val());

		// The precision needs to be greater than or equal to zero
		// It also needs to be higher than the previous precision
		// It also cannot be higher than 8
		if (precision >= 0 && (precision > oldPrecision) && !(precision > 8)) {
			$tokenPrecision.removeClass('is-invalid');
			SE.UpdateTokenPrecision('<%= data.symbol %>', precision);
		} else {
			$tokenPrecision.addClass('is-invalid');
		}
	}
</script>

	