
<div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content brown">
      <div class="modal-header">
        <h1 class="modal-title">MINT</h1>    
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">X</span>
        </button>  
      </div>
  
      <div class="modal-body">
        <label class="mb-0">SUPPLY (Current / Max)</label>
        <p class="mb-4">
          <%= addCommas(SE.GetToken(data.symbol).supply) %> / <%= addCommas(SE.GetToken(data.symbol).maxSupply) %>
        </p>						
        
        <label>TO</label>
        <div class="input-group justify-content-center align-items-center mb-4">
          <div class="input-group-prepend">          
            @
          </div>
          <input style="padding-left: 32px;" type="text" placeholder="username" id="txtTo" required>        
          <div class="invalid-tooltip">
            Please enter a valid account
          </div>
        </div>
        
        <label>AMOUNT</label>
        <div class="input-group justify-content-center align-items-center mb-4">
          <input type="text" placeholder="0.00000000" id="txtAmount">
          <div class="input-group-append">          
            <%= data.symbol %>
          </div>
          <div class="invalid-tooltip">
            Please enter an amount greater than 0
          </div>
        </div>						
        
      </div>
      
      <div class="modal-footer">
        <button id="btnSend" type="button" class="btn btn-primary btn-lg w-100" onclick="onIssueClick()">ISSUE <%= data.symbol %></button>
      </div>
    </div>
  </div>
  
  <script>
		var isValid = true;
		var symbol = "<%= data.symbol %>";
		
		$('#txtTo').focusout(() => {
			SE.CheckAccount($('#txtTo').val(), r => {
				if(r) {				
					isValid = true;
					$('#txtTo').removeClass("is-invalid");
				} else {
					isValid = false;
					$('#txtTo').addClass("is-invalid");
				}
			})
		});

    function onIssueClick() {
      var to = $('#txtTo').val();
      var amount = $('#txtAmount').val();
      var floatAmount = parseFloat($('#txtAmount').val());
      
      if(isNaN(floatAmount) || floatAmount == 0) {
        $('#txtAmount').addClass("is-invalid");
        isValid = false;
      }

      if(to.trim() == '') {
        $('#txtTo').addClass("is-invalid");
        isValid = false;
      }
      
      if(isValid)
			{
        $('.modal-body input').removeClass("is-invalid");
        SE.IssueToken(symbol, to, amount);
      }
		}
  </script>
  
  