
<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content blue">
			<div class="modal-header">
				<h1 class="modal-title">CONFIRMING</h1>    
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">X</span>
				</button>  
			</div>
	
			<div class="modal-body">
				<p class="mb-4" style="font-size: 20px;">
					Please use Steem Connect to sign and broadcast this transaction.
				</p>
				<p class="mb-4" style="font-size: 20px;">
					Once it is completed you can click the button below to refresh the information on the site.
				</p>
				<p class="mb-4" style="font-size: 20px;">
					For a more seamless experience, we recommend using the 
					<a href="https://chrome.google.com/webstore/detail/steem-keychain/lkcjlnjfpbikmcmbachjpdbijejflpcm?hl=en" target="_blank" style="color: #BE7A5C;">Steem Keychain browser extension.</a>
				</p>
				</p>
			</div>
			
			<div class="modal-footer">
				<button id="btnBuy" type="button" data-dismiss="modal" class="btn btn-primary btn-lg w-100" onclick="SE.SteemConnectCallback();" style="font-size: 29px;">TRANSACTION SENT</button>
			</div>
		</div>
	</div>
	
	