
<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content blue">
			<div class="modal-header" style="padding: 40px 40px 10px 60px;">
				<h1 class="modal-title" style="font-size: 38px;">
					WITHDRAW STEEM
					<div class="note">There is a 1% fee on deposits and withdrawals.</div>
				</h1>
				
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">X</span>
				</button>  
			</div>
	
			<div class="modal-body">
				<p class="text-medium"><strong>Please note:</strong> Large withdrawals are processed manually to ensure financial safety of collective assets and may take up to 1-3 days to complete</p>

				<label class="mb-0">Current STEEM Balance</label>
				<p class="mb-4">
					<%= addCommas(SE.User.account.balance) %>
				</p>
				
				<label class="mb-0">Current STEEMP Balance</label>
				<p class="mb-4">
					<%= addCommas(SE.GetBalance('STEEMP')) + ' STEEMP' %>
				</p>
				
				<label>WITHDRAW AMOUNT</label>
				<div class="input-group justify-content-center align-items-center">
					<input type="text" placeholder="0.000" id="withdraw_amount">
					<div class="input-group-append">          
						STEEMP
					</div>
					<div class="invalid-tooltip">
						Please enter an amount greater than 0
					</div>
				</div>
				<div class="ssc-cost">You will receive: <span id="receive_amt">0</span> STEEM</div>				
			</div>
			
			<div class="modal-footer">
				<button id="btnBuy" type="button" class="btn btn-primary btn-lg w-100" onclick="onBuyClick()" style="font-size: 30px;">WITHDRAW STEEM</button>
			</div>
		</div>
	</div>
	
	<script>
	function onBuyClick() {  
		var amount = parseFloat($('#withdraw_amount').val());
	
		if(isNaN(amount) || amount == 0) {
			$('#withdraw_amount').addClass("is-invalid");    
		}  
		else {
			SE.WithdrawSteem(amount);
		}
	}

	$('#withdraw_amount').keyup(() => {
		var amt = parseFloat($('#withdraw_amount').val());
		$('#receive_amt').text((amt * 0.99).toFixed(3));
	});
	
	</script>
	
	