
<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content blue">
			<div class="modal-header" style="padding: 40px 40px 10px 60px;">
				<h1 class="modal-title" style="font-size: 35px;">
					WITHDRAW TOKENS
					<div class="note">There is a 1% fee on deposits and withdrawals.</div>
				</h1>
				
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">X</span>
				</button>  
			</div>
	
			<div class="modal-body">
				<p class="text-medium"><strong>Please note:</strong> Large withdrawals are processed manually to ensure financial safety of collective assets and may take up to 1-3 days to complete</p>

				<p class="text-medium wekuWarning" style="display: none;">You are going to remove WEKUP from <strong>Steem-Engine</strong> and receive WEKU on <strong>Bitshares</strong>.</p>
				<p class="text-medium wekuWarning" style="display: none;">Please note we own the steem-engine account on <strong>Bitshares</strong>, but not the steem-engine account on <strong>WEKU</strong>. Any and all transfers you complete to the steem-engine account on WEKU are to a known scammer and will not be refunded.</p>

				<label>TOKEN TO WITHDRAW</label>
				<div class="input-group mb-4">
					<select id="withdrawal_token">
						<% Config.PEGGED_TOKENS.forEach(token => { %>
						<option value="<%= token.symbol %>"><%= token.name %> (<%= token.symbol %>)</option>
						<% }); %>
					</select>
				</div>
				<div id="withdraw_body">
					<label class="mb-0">Current Balance</label>
					<p id="withdraw_balance" class="mb-4">
						<%= addCommas(SE.GetBalance('STEEMP')) + ' STEEMP' %>
					</p>

					<label>WITHDRAW AMOUNT</label>
					<div class="input-group justify-content-center align-items-center">
						<input type="text" placeholder="0.000" id="withdraw_amount">
						<div class="input-group-append pts">
							STEEMP
						</div>
						<div class="invalid-tooltip">
							Please enter an amount greater than 0, greater than minimum withdrawal amount and not more than your current balance.
						</div>
					</div>
					<div class="ssc-cost mb-2">You will receive: <span id="receive_amt">0</span> <span class="ts">STEEM</span></div>
					<div class="ssc-cost mb-2 min_withdrawal_warning" style="display:none;">Min. withdrawal amount: <span id="min_withdraw_amt">0</span> <span class="ts">STEEM</span></div>

					<label>WITHDRAW ADDRESS</label>
					<div class="input-group justify-content-center align-items-center">
						<input type="text" id="withdraw_address" value="<%= SE.User.name %>" disabled="disabled" />
						<div class="invalid-tooltip" id="error_response"></div>
					</div>
					<div class="ssc-cost">Please ensure this address is correct.<br />We cannot refund incorrect withdrawals.</div>
				</div>
				<div id="withdraw_warning" class="alert alert-warning" style="display: none;"></div>
			</div>
			<div class="modal-footer" style="padding-bottom: 0;">
				<button id="btnBuy" type="button" class="btn btn-primary btn-lg w-100" onclick="onWithdrawClick()" style="font-size: 28px;">WITHDRAW <span class="ts">STEEM</span></button>
			</div>

			<div class="privex">
				<a href="https://pay.privex.io/order/?r=steem-engine" target="_blank">
					<img src="https://www.privex.io/static/assets/svg/privex_ctc_api_light.svg" />
				</a>
			</div>
		</div>
	</div>
	
	<script>
	function onWithdrawClick() {

		var token = Config.PEGGED_TOKENS.find(p => p.symbol == $('#withdrawal_token').val());

		if(!token)
			return;

        var min_withdraw = Config.MINIMUM_WITHDRAWALS.find(x => x.symbol == token.pegged_token_symbol);
		var amount = parseFloat($('#withdraw_amount').val());		
		if (isNaN(amount) || amount <= 0 || amount > SE.GetBalance(token.pegged_token_symbol)) {
			$('#withdraw_amount').addClass("is-invalid");    
		} else {
			if (min_withdraw && amount < min_withdraw.amount) {
				$('#withdraw_amount').addClass("is-invalid");
			} else {
				if (token.symbol == 'STEEM') {
					SE.WithdrawSteem(amount);
				} else {
					$('#error_response').text('');
					SE.GetWithdrawalAddress(token.symbol, $('#withdraw_address').val(), (err, result) => {
						if (err) {
							$('#withdraw_address').addClass('is-invalid');
							$('#error_response').text(err.responseJSON.message);
							return;
						}

						if (result && result.memo) {
							SE.SendToken(token.pegged_token_symbol, result.account, amount, result.memo);
						}
					});
				}
			}
		}
	}

	$('#withdraw_amount').keyup(() => {
		var amt = parseFloat($('#withdraw_amount').val());

		if(isNaN(amt))
			amt = 0;

		$('#receive_amt').text((amt * 0.99).toFixed($('#withdrawal_token').val() == 'STEEM' ? 3 : 8));
	});

		$('#withdrawal_token').change(updateToken);

        $(".invalid-tooltip").on("click", function () {
            $('#withdraw_amount').removeClass("is-invalid");
        })

        $(".invalid-tooltip-address").on("click", function () {
            $('#withdraw_address').removeClass("is-invalid");
        })

	function updateToken() {
		var token = Config.PEGGED_TOKENS.find(p => p.symbol == $('#withdrawal_token').val());

		if(!token)
			return;        

        var disabledToken = Config.DISABLED_WITHDRAWALS.find(x => x.symbol == token.pegged_token_symbol);
        if (disabledToken) {
            $("#withdraw_body").hide();
            $("#btnBuy").hide();
            $("#withdraw_warning").text(disabledToken.reason);
            $("#withdraw_warning").show();
        } else {
            $("#withdraw_body").show();
            $("#withdraw_warning").hide();
            $("#btnBuy").show();
		}

        var min_withdraw_record = Config.MINIMUM_WITHDRAWALS.find(x => x.symbol == token.pegged_token_symbol);
        if (min_withdraw_record && min_withdraw_record.amount > 0) {
            $(".min_withdrawal_warning").show();
            $("#min_withdraw_amt").text(min_withdraw_record.amount);
        }
        else {
            $(".min_withdrawal_warning").hide();
        }

		$('#withdraw_balance').text(addCommas(SE.GetBalance(token.pegged_token_symbol)) + ' ' + token.pegged_token_symbol);
		$('.pts').text(token.pegged_token_symbol);
        $('.ts').text(token.symbol);

        if (token.symbol == 'WEKU') {
            $(".wekuWarning").show();
        } else {
            $(".wekuWarning").hide();
        }

		$('#withdraw_address').prop('disabled', token.symbol == 'STEEM');
		$('#withdraw_address').val((token.symbol == 'STEEM') ? SE.User.name : '');
	}

	if('<%= data && data.symbol ? data.symbol : "" %>' != '') {
		$('#withdrawal_token').val('<%= data && data.symbol ? data.symbol : "" %>');
		updateToken();
	}
	
	</script>
	
	
	